<a class="dropdown-toggle" data-toggle="dropdown" href="#">
${{currency.btceusd}} &middot; {{currency.symbol}} <span class="caret"></span>
</a>
<ul class="dropdown-menu">
<li>
<a href="#" data-ng-click="setCurrency('USD')" data-ng-class="{active: currency.symbol == 'USD'}">USD</a>
</li>
<li>
<a href="#" data-ng-click="setCurrency('N7')" data-ng-class="{active: currency.symbol == 'N7'}">N7</a>
</li>
<li>
<a href="#" data-ng-click="setCurrency('mN7')" data-ng-class="{active: currency.symbol == 'mN7'}">mN7</a>
</li>
<li>
<a href="#" data-ng-click="setCurrency('uN7')" data-ng-class="{active: currency.symbol == 'uN7'}">uN7</a>
</li>
</ul>
